.mobile-nav-toggle-box {
  position: fixed;
  top: -3em;
}

.mobile-nav-toggle-label {
  position: fixed;
  top: 1.3rem;
  left: 1.3rem;
  cursor: pointer;
  width: 22px;
  height: 22px;
  z-index: 9;
}

.mobile-nav-toggle-label {
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;

  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.mobile-nav-toggle-label:hover {
  -moz-animation: pulse 150ms steps(4) 4 alternate;
  -o-animation: pulse 150ms steps(4) 4 alternate;
  -ms-animation: pulse 150ms steps(4) 4 alternate;
  -webkit-animation: pulse 150ms steps(4) 4 alternate;
  animation:pulse 150ms steps(4) 4 alternate;

  -ms-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.top-bar,
.middle-bar,
.bottom-bar {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 22px;
  height: 2px;
  background-color: rgba(0, 0, 0, 1);

  -webkit-transition: -webkit-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
  -moz-transition: -moz-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
  -ms-transition: -ms-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
  -o-transition: -o-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
  transition: transform .1s 0s ease-in-out,top .1s .1s ease-in-out;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.top-bar {
  top: 0px;
}
.middle-bar {
  -webkit-transition: opacity 0s .15s linear;
  -moz-transition: opacity 0s .15s linear;
  -ms-transition: opacity 0s .15s linear;
  -o-transition: opacity 0s .15s linear;
  transition: opacity 0s .15s linear;

  top: 7px;
}
.bottom-bar {
  top: 14px;
}

.mobile-nav-toggle-box:checked ~ .main-wrapper .top-bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  top: 7px;
}
.mobile-nav-toggle-box:checked ~ .main-wrapper .middle-bar {
  opacity: 0;
}
.mobile-nav-toggle-box:checked ~ .main-wrapper .bottom-bar {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);

  top: 7px;
  right: 1px;
}

.mobile-nav-toggle-box:checked ~ .main-wrapper .top-bar,
.mobile-nav-toggle-box:checked ~ .main-wrapper .bottom-bar {
  -webkit-transition: top .1s .1s ease-in-out,-webkit-transform .1s .2s ease-in-out;
  -moz-transition: top .1s .1s ease-in-out,-moz-transform .1s .2s ease-in-out;
  -ms-transition: top .1s .1s ease-in-out,-ms-transform .1s .2s ease-in-out;
  -o-transition: top .1s .1s ease-in-out,-o-transform .1s .2s ease-in-out;
  transition: top .1s .1s ease-in-out,transform .1s .2s ease-in-out;
}

.mobile-nav-toggle-box:checked ~ .main-wrapper {
  left: 350px;
}

a,
a:link,
a:visited {
  color: rgba(68, 68, 68, 1);
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  border-bottom: 1px solid rgba(68, 68, 68, 1);
}

.chapters-index a:hover,
.chapters-index a:active,
.chapters-index a:focus {
  border-bottom: 5px solid rgba(68, 68, 68, 1);
}

@media only screen and (min-width: 38em) {

  .mobile-nav-toggle-label {
    top: 1.4rem;
    left: 1.4rem;
  }

}

@media only screen and (min-width: 60em) {

  .mobile-nav-toggle-label {
    top: 1.5rem;
    left: 1.5rem;
  }

  .bottom-bar {
    top: 15px;
  }

  .mobile-nav-toggle-box:checked ~ .main-wrapper > .masthead {
    left: 350px;
  }

}
